p You do not currently have a CMS attached to your account.
p You can create and deploy one by clicking the Create button.
p The process will take around 2 minutes.
p Once the process is done, a link to your CMS app will be provided. You need to go to that link and login with your account and password from this site.
p Once logged in, you need to go to the Databases link and attach a postgres database to your account.
br
br
form(action='/createCMS', method='POST')
    button#bbb.btn.btn-primary(type='submit') Create

div#output



